<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.expenses_tracker">

    <application
        android:label="expenses_tracker"
        tools:replace="android:label">
        <!-- Other attributes and elements -->
    </application>

</manifest>
